
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body style="text-align: center">
    <h2>CheckOut Successfull</h2>
    <h4>Đơn hàng đã được xác nhận, bạn sẽ nhận được hàng trong 2-3 ngày tới. Cảm ơn bạn đã tin tưởng Shop.</h4>
    <a href="@Url.Action("Index", "Product")">Continuos shopping... </a>
    <div> 
    </div>
</body>
</html>
